/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

label {
  display: block;
}

.house-img {
  height: 12.5rem;
  max-width: 100%;
}

.listor-img {
  width: 11rem;
  height: 9rem;
}